html, body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;

}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.grid {
  display: grid;
  min-height: 250px;
}


.grid-image, .grid-content {
  grid-column: 1/1;
  grid-row: 1 / 2;
}

.grid-content {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.40129555240064774) 75%, rgba(0,0,0,0) 100%);
  display: grid;
  padding: 30px 20px 10px 20px;
  gap: 10px;
  align-self: end;
}


.grid-image {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .grid-image {
    width: 100%;
    aspect-ratio: 1/1;
  }
}