html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  line-height: 1;
}

.grid {
  display: grid;
  min-height: 250px;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}


.grid-image,
.grid-content, .grid-content--skeleton, .post-description {
  grid-column: 1/1;
  grid-row: 1 / 1;
}

.grid-content, .grid-content--skeleton {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.40129555240064774) 75%, rgba(0, 0, 0, 0) 100%);
  display: grid;
  padding: 30px 20px 10px 20px;
  gap: 5px;
  align-self: end;
}

.grid-content--skeleton {
  z-index: 1;
}

.link-style:focus-visible .post-description, .grid:hover>.post-description {
  visibility: visible;
}

.post-description {
  visibility: hidden;
  padding: 10px;
  font-size: 1.5rem;
  position: absolute;
  overflow-y: auto;
  inset: 0;
  backdrop-filter: blur(10px) brightness(0.5);
  -webkit-backdrop-filter: blur(10px) brightness(0.5);
}

.filter-button {
  all: unset;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #252525;
  box-shadow: 1px 2px 15px 0px #000;
  transition: all 0.5s ease-in;
  z-index: 999;
  word-wrap: break-word;
  cursor: pointer;
}


.filter-button>.modal {
  position: absolute;
  right: 0;
  transform: translateY(calc(-100% - 10px)) scaleY(1);
  word-break: break-word;
  min-width: max-content;
  max-width: 15rem;
  max-height: 50vh;
  overflow: auto;
  background-color: #252525;
  padding: 0.5rem 0;
  border-radius: 1rem;
  transition: transform 0.25s ease;
  transform-origin: bottom;
  cursor: default;
}

.filter-button[aria-expanded=false]>.modal {
  transform: translateY(calc(-100% - 10px)) scaleY(0);
}

.filter-item {
  display: flex;
  gap: 10px;
  align-items: center;
  border-block: solid 2px #525252;
  padding: 0.85rem 0.65rem;
  background-color: #252525;
  margin-block: 1rem;
  cursor: pointer;
}

.filter-item * {
  cursor: pointer;
}

.filter-item:hover, .filter-item[data-checked=true] {
  background-color: #3d3d3d;
}

.filter-item>input[type="checkbox"] {
  transform: scale(1.5);
}

.grid-image {
  width: 100%;
  object-fit: cover;
}

.grid-image.loading {
  background-color: #6d6d6d;
}

.grid-image.visible {
  visibility: visible;
}

.grid-image.hidden {
  visibility: hidden;
}

.posts {
  max-width: min(100%, 1000px);
  margin-inline: auto;
  display: grid;
  gap: 10px;
}

.post {
  display: grid;
  gap: 10px;
}

.post .grid-content {
  grid-row: auto;
}

.skip-button {
  all: unset;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.5rem;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  cursor: pointer;
  z-index: 1;
}

.link-style {
  text-Decoration: none;
  color: unset;
}

.link {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: 1rem;
  background-color: #252525;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {

  .grid-image {
    width: 100%;
    aspect-ratio: 9/12;
  }

  .posts {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 800px) {
  .posts {
    max-width: min(100%, 1200px);
    grid-template-columns: repeat(2, 1fr);
  }

  .post {
    max-width: min(100%, 1000px);
    margin-inline: auto;
  }

}

@media screen and (min-width: 2000px) {
  .posts {
    max-width: min(100%, 1500px);
    grid-template-columns: repeat(3, 1fr);
  }

  .post {
    max-width: min(100%, 1500px);
    margin-inline: auto;
  }
}